---
---
<footer class="hub-footer">
  <div class="hub-footer-inner">
    <div class="hub-footer-brand">
      <h3>The Curated Kinetic</h3>
      <p>© 2024 Editorial Excellence. All rights reserved.</p>
    </div>
    <div class="hub-footer-links">
      <a href="#">GitHub</a>
      <a href="#">LinkedIn</a>
      <a href="#">Twitter</a>
      <a href="#">Email</a>
    </div>
  </div>
</footer>
