---
import Layout from '@layouts/PortfolioLayout.astro';
import Navbar from '@components/portfolio/Navbar.astro';
import Footer from '@components/portfolio/Footer.astro';

const ProjectsSection = (await import('@components/portfolio/Projects.astro')).default;
---

<Layout>
	<Navbar />
	<main id="master">
		<ProjectsSection />
	</main>
	<Footer />
</Layout>
